.card {
    display: flex;
    // justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 55px;
    // height: 800px;
    max-width: 600px;
    background: #fff;
    border-radius: 8px;
}